.idea
Assembly-CSharp.csproj
*.sln
UnityXOPS.sln.DotSettings.user
obj
UserSettings
Packages
Logs
Assets/Plugins
Assets/StreamingAssets/data
OpenXOPS
Library
Assets/Resources/char.dds
Assets/TextMesh Pro
Temp
Assets/StreamingAssets/addon
*.csproj
.vs
CLAUDE.md
.claude
docs
Assets/XLua
TODO.md
