.idea
Assembly-CSharp.csproj
*.sln
UnityXOPS.sln.DotSettings.user
ProjectSettings
obj
UserSettings
Logs
Assets/Plugins
Assets/StreamingAssets/data
*.meta
Library
Assets/Resources/char.dds
Assets/TextMesh Pro
Temp
Assets/StreamingAssets/addon
*.csproj
